*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{

    --body-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;

    --header-height: 6rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-900: 900;

    --big-font-size:clamp(2rem, 0.9706rem + 4.7059vw, 4.5rem);
    --h1-font-size:clamp(1.75rem, 0.9265rem + 3.7647vw, 3.75rem);
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.875rem;

    
    --body-color: hsl(0, 0%, 6%);
    --border-color: hsl(0, 0%, 100%, 0.2);
    --container-color: hsl(0, 0%, 10%);
    --first-color: hsl(265, 85%, 62%);
    --mint:  hsl(109 25% 71%);
    --orange-strong: hsl(33, 100%, 50%);
    --orange:hsl(25 91% 71%);
    --text-color: hsl(0, 0%, 77%);
    --title-color: hsl(0, 0%, 100%);
    
   

    --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

    --border-radius: .5rem;

    --z-fixed: 100;
    --z-tooltip: 10;
}

body,
input,
textarea{
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-300);
}

body{
    background-color: var(--body-color);
}

h1,
h2,
h3{
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.67em;
}

img{
    max-width: 100%;;
}

input,
textarea{
    background-color: transparent;
    border: none;
    outline: none;
}


          /* Reusable classes */


.container{
    margin-inline: auto;
    max-width: 1260px;  
    padding-inline: .75rem;
}

.grid{
    display: grid;
    gap: 1.75rem;
}

.section{
    padding-block: 8rem;
}

.section-title{
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

section:not(.about):not(.contact) .section-title,
section:not(.about):not(.contact) .section-description {
  text-align: center;
}

.section-description{
    margin-bottom: 3.75rem;
    margin-inline: auto;
    max-width: 600px;
}

.btn{
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    border-radius: var(--radius);
    color: var(--title-color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    letter-spacing: 2px;
    padding:1rem 2.5rem;
    transition: all 0.3s var(--transition);
}

.btn:hover{
    background-color: transparent;
    color: var(--first-color);
}


/* Header */

.header{
    left: 0;
    position: absolute;
    top: 0;  
    width: 100%;
    z-index: var(--z-fixed);
}

.nav,
.nav-list,
.nav-socials{
    display: flex;
}

.nav{
    align-items: center;
    column-gap: 3.5rem;
    height: calc(var(--header-height) + 1.5rem);   
    justify-content: space-between;   
}

.nav-logo{
    color: var(--title-color);
    font-size: 2.2rem;
    font-weight: var(--weight-700);
}

.nav-logo span{
    color: var(--first-color);
}

.nav-list{
    column-gap: 2rem;
}

.nav-link,
.nav-social-link{
    color: var(--title-color);
    font-size: var(--small-font-size);  
    transition: all 0.3s var(--transition);
}

.nav-link{
    font-weight: var(--weight-500);
}

.nav-socials{
    column-gap: 1.5rem;
    margin-left: auto;
}

.nav-social-link:hover{
    color: var(--first-color);
    transform: translateY(-0.25rem);
}

.nav-link-btn{
    background-color: transparent;
    border-color: var(--border-color);
    font-size: var(--smaller-font-size); 
    padding: 0.625rem 1.25rem;
}

.nav-link-btn:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--title-color);
}

.nav-toggle,
.nav-close{
    display: none;
}

/* Active link */
.active-link,
.nav-link:hover{
    color: var(--first-color);
}


/* Change background header */
.scroll-header{
    animation: slide-down 0.7s;
    background-color: var(--container-color);
    box-shadow: 0 0 10px hsla(0, 0%, 0% 0.25);
    position:fixed;   
}

@keyframes slide-down{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}


.scroll-header .nav{
    height: var(--header-height);
}


/* Home */

.home{
    padding-block: 16rem 9rem;
}

.home-container{
    align-items: center;
    grid-template-columns: 7fr 5fr;  
}

.home-subtitle{
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    letter-spacing: 0.25rem;
    margin-bottom: 1.25rem;
}

.home-title{
    font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-900);
}

.home-title span{
    color: var(--first-color);
}

.profile-photo{
    border: 0.50rem solid var(--container-color);
    border-radius: 50%;
    height: 460px;
    margin-left: auto;
    opacity: 0.9;
    width:425px;
}


/* About */
.about{
    background-color: var(--container-color);
}

.about-container{
    align-items: center;
    column-gap: 4rem;
    grid-template-columns: 5fr 7fr;
}

.about-img{
    border-radius: 30px;
    height: 790px;
    opacity: .6;
    width: 100%;  
}

.about-description{
    margin-bottom: 2rem; 
}

.tabs-buttons{
    column-gap: 2.5rem;
    display: flex;
    margin-bottom: 1.25rem;
}

.tabs-button,
.tabs-description span:first-child{
    font-weight: var(--weight-500);
}

.tabs-button{
    color: var(--title-color);
    cursor: pointer;
    padding-bottom: 0.5rem;
    position: relative;
}

.tabs-button::after{
    background-color: var(--text-color);
    bottom: 0;
    content:'';
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s var(--transition);
    width: 30%;
}

.tabs-data{
    row-gap: 1rem;
}

.tabs-description span:last-child{
    display: block;
}


/* Active tab */

.tabs-button.tab-active {
    color: var(--first-color);
}

.tabs-button.tab-active::after {
    background-color: var(--first-color);
    width: 100%;
}

.tabs-item[data-content]{
    display: none;
}

.tab-active[data-content]{
    display: block;
}





/* Services */

.services-container{
    grid-template-columns: repeat(3, 1fr);
}

.services-item{
    background-color: var(--container-color);
    border-radius: var(--radius);
    padding: 3.5rem 2.5rem;
}

.services-item:hover{
    background: var(--border-color);
    border-radius: 15px;
    transform:translateY(-3px) scale(1.1);
}

.services-icon{
    color: var(--first-color);
    font-size: 3.25rem;
    line-height: 1;
}

.services-title{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-500);
    margin-block: 1.75rem 1.25rem;
}

.services-description{
    font-weight: var(--weight-400);
}


/* Projects */

.portfolio-section{
    background-color: var(--container-color);  
}

.portfolio-container{
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-item{
    border-radius: var(--radius);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.portfolio-data,
.portfolio-item::after{
    position: absolute;
    transition: all 0.65s var(--transition);
}

.portfolio-item::after{
    background: linear-gradient(180deg, transparent, var(--orange));
    content: '';
    inset: 0;
    opacity: 0;
}

.portfolio-img{
    border-radius: 10px;
    height: 320px;
    opacity: 0.5;   
    transition: all 1s var(--transition);
    vertical-align: middle;
    width: 100%;
}

.portfolio-data{
    bottom: 1.25rem;
    inset-inline: 2rem;
    text-align: center;
    z-index: var(--z-tooltip);
}

.portfolio-description,
.portfolio-subtitle{
    color: var(--container-color);
    opacity: 1;
}

.portfolio-title{
    color: var(--orange-strong);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-900);  
    opacity: 1;
}

.portfolio-subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--weight-700);
}

.portfolio-description{
    display: none;
    font-weight: var(--weight-400);
}

/* Work hover */
.portfolio-item:hover::after{
    opacity: 1;
}

.portfolio-item:hover .portfolio-img{
    transform: scale(1.1);
}

.portfolio-item:hover .portfolio-description{
    display: block;
}

.portfolio-item:hover .portfolio-data{
    transform: translateY(-2rem);
}




/* Contact */
.contact-container{
    align-items: center;
    column-gap: 4rem;   
    grid-template-columns: repeat(2, 1fr);
}

.contact-description,
.contact-input{
    font-weight: var(--weight-400);
}

.contact-description{
    margin-bottom: 3rem;
}

.contact-description a{
    color: var(--title-color);
    font-weight: var(--weight-500);
}

.contact-form{
    position: relative;
}

.contact-input{
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    font-size: var(--smaller-font-size);
    margin-bottom: 1.25rem;
    padding: 0.8rem 1.25rem;
    width: 100%;   
}

.textarea{
    height: 120px;
    resize: none;
}

.error-message{
    bottom: -12%;
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    left: 0;
    position: absolute;   
}

.color-first{
    color: var(--first-color)
}

/* Footer */
.footer{
    background-color: var(--container-color);
    padding-block: 2rem;
}

.footer-container{
    align-items: center;
    grid-template-columns: repeat(3, 1fr);   
}

.footer-logo{
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: var(--weight-700);
}

.footer-logo span{
    color: var(--first-color);
}

.footer-socials{
   display: flex; 
   justify-content: center;
   column-gap: 0.75rem;
}

.footer-social-link{
    border: 2px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    display: grid;
    font-size: var(--small-font-size);
    height: 46px;
    place-items: center;
    transition: all 0.3s var(--transition);
    width: 46px;   
}

.footer-social-link:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.footer-copyright{
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    justify-self: flex-end;
}

/* Scroll up */
.scrollup{
    background-color: var(--title-color);
    border-radius: 50%;
    bottom: -100%;
    display: grid;
    height: 50px; 
    place-items: center;
    position: fixed;
    right: 1rem; 
    transition: all 0.4s var(--transition);
    width: 50px;   
    z-index: var(--z-fixed);  
}

.scrollup--icon{
    color:var(--first-color);
    font-size: 2.25rem;
    line-height: 1;
}

/* Show scrollup */
.show-scroll{
    bottom: 3rem;
}
    
    
    

/* Responsive typography */
@media(max-width: 992px) {
    :root{
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --header-height: 5rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.9375rem;
        --smaller-font-size: 0.813rem;
    }
} 



@media(max-width: 1200px) {

 .container{
   max-width: 960px;
  }

 .nav-btns{
   display: none;
  }

 .home{
   padding-top: 11rem;
  }

 .home-container,
 .about-container{
   grid-template-columns: 1fr;
  }

 .home-container{
   row-gap: 2rem;
  }

 .home-content{
   order: 1;
  }

 .profile-photo,
 .about-img{
   margin-inline: auto;
  }

 .profile-photo{
   border: 0.5rem solid var(--container-color);
   height: 380px;
   width: 380px;
  }

  .about-container{
   row-gap: 2.5rem;
  }

  .services-container,
  .portfolio-container{
   grid-template-columns: repeat(2, 1fr);
  }

  .contact-container{
    column-gap: 2rem;
  }


}




@media(max-width: 992px) {
 
    .container{
        max-width: 720px;
    }

    .nav{
        height: var(--header-height);
        column-gap: 1.25rem;
    }

    .nav-logo{
      font-size: 2rem;  
    }

    .nav-btns,
    .nav-toggle,
    .nav-close{
        display: block;
    }

    .nav-link-btn{
        display: none;
    }

    .nav-menu{
        background-color: var(--container-color);
        height: 100vh;
        padding: 3.5rem;
        position: fixed;
        right: -100%;
        top: 0;
        transition: all 0.8s var(--transition); 
        width: 60vw;  
    }

    .show-menu{
        right: 0;
    }

    .nav-list{
        flex-direction: column;
        row-gap: 1.125rem;
    }

    .nav-close{
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 1rem; 
    }

    .nav-socials{
        column-gap: 1rem;
    }

    .nav-toggle{
        font-size: var(--h2-font-size);
    }

    .nav-close,
    .nav-toggle{
        cursor: pointer;
    }

    .home{
        padding-top: 9rem;
    }

    .profile-photo{
        height: 320px;
        width: 320px;
    }

    .services-icon{
        font-size: 2.5rem;
    }

    .services-title{
        margin-block: 1.5rem 1rem;
    }

    .contact-container{
        grid-template-columns: 1fr;
        rotate: 2rem;
    }

    .contact-content{
        order: 1;
    }

    .contact-description{
        margin-bottom: 2rem;
    }

    .footer-social-link{
       font-size: var(--smaller-font-size); 
       height: 36px;
       width: 36px;
    }

    .scrollup{
        height: 42px;
        width: 42px;
    }

    .scrollup-icon{
        font-size: 2rem;
    }        
}


@media(max-width: 768px) {

    .container{
        max-width: 540px;
    }

    .profile-photo{
        height: 280px;
        width: 280px;
    }

    .tabs-buttons{
        column-gap: 1.5rem;
        flex-wrap: wrap;
        row-gap: 0.75rem;
    }

    .services-container,
    .portfolio-container,
    .footer-container{
        grid-template-columns: 1fr;
    }

    .footer-container{
        justify-items: center;
        row-gap: 1.5rem;
    }

    .footer-copyright{
        justify-self: center;
    }        
}

    @media(max-width: 576px) {

        .nav-menu{
            padding: 2.75rem;
            width: 100vw;
        }

        .profile-photo{
            height: 260px;
            width: 260px;
        }

        .services-item{
            padding: 2rem 1.5rem;
        }
    }

    @media(max-width: 350px) {

        .profile-photo{
            height: 240px;
            width: 240px;
        }

        .tabs-description span:last-child{
            display: inline;
        }

        .portfolio-data{
            bottom: 1rem;
            inset-inline: 1rem;
        }
        
    }
